* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.NavBar{
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title{
  margin-top: 9px;
  color: rgb(231, 139, 40);
}

.theme-btn{
  cursor: pointer;
  font-size: 40px;
  border-radius: 3px;
  border: none;
  background-color: whitesmoke;
}

:hover.theme-btn{
  background-color: rgba(255, 244, 142, 0.539);
  border-radius: 50%;
}

.form-card{
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  
}

.input{
  margin: 15px;
  height: 1rem;
  width: auto;
  padding: 2px;

}

.submit-btn{
  cursor: pointer;
  background-color: rgb(231, 139, 40);
  text-decoration: none;
  width: 90px;
  height: 25px;
  border-style: solid;
  border-radius: 5px;
}

:hover.submit-btn{
  background-color: rgb(255, 193, 79);
}

.footer{
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  padding: 10px;
}