* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

/* NAV BAR style + title */
.NavBar{
  background-color: rgba(60, 60, 60, 0.508);
  color: rgb(243, 252, 140);
  height: 50px;
  align-items: center;
}

.title {
  margin: 0;
  padding: 10px;
  font-size: 1.2 rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

/* Main form style */
.main-form{
  padding: 20px;
  justify-content: space-around;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
}


/* Footer styles */
.footer{
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  padding: 10px;
}
