* {
  margin: auto;
}

button{
  text-align: center;
  text-transform: uppercase;
  border: 0.5px solid black;
  border-radius: 4px;
  height: 30px;
  width: 100px;
}

p{
  padding: 20px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid black;
  background-color: white;
}

li{
  float: left;
}

li a{
  display: block;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  color: black;
}

li a:hover:not(.active) {
  color: white;
  background-color: rgb(255, 187, 255);
}

li a.active {
  color: white;
  background-color:  rgb(255, 187, 255);
}

.title{
  text-align: center;
}

.body-container{
  align-items: center;
  text-align: center;
  padding: 10px;
}

.nav-bar{
  display: inline;
}

.footer{
  padding: 20px 10px 0px 0px;
  text-align: center;
}

.light-theme{
  color: rgb(35, 35, 35);
  background-color: rgba(243, 222, 246, 0.784);
}

.dark-theme{
  color: rgb(253, 249, 249);
  background-color: rgb(64, 64, 64);
}
