*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Open Sans', sans-serif;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1470390356535-d19bbf47bacb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    background-attachment: scroll;
    vertical-align: middle; 
    filter: brightness(95%);
}

.main-container{
    background-color: white;
    width: 300px;
    height: auto;
    opacity: 60%;
    position: relative;
    align-items: center;
    margin-left: 50px;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 1.1rem;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.name{
    color: grey;
    text-shadow: 2px 2px 4px rgb(239, 221, 221);
    font-style: bold;
    letter-spacing: 0.8px;
}
.age{
    letter-spacing: 0.8px;
    color: grey;
    font-weight: 400;
    font-style: bold;
}

.pets-container{
    color: rgb(186, 120, 87);
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.5px;
}

.owner{
    color: black;
    font-style: normal;
}