*{
  font-family: 'Handlee', cursive;
  
}

.home {
    display: flex;
    color: #333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    background-position: center;
    background-image: url("https://plus.unsplash.com/premium_photo-1681488411178-b9d7b05239f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80");
    /* background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%); */
    background-size: cover;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    white-space: normal;
  }
  
  hr {
    width: 50%;
    height: 0.5px;
    margin: 0 auto;
    background-color: #c471f5;

  }
  
  .home-btns {
    margin-top: 20px;
  }
  
  h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background: linear-gradient(to top, #d9abf4 0%, #fa97d9 100%);
  }

  .stayIn, .headOut{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
    background-size: cover;
  }

  .stayIn-grid, .headOut-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px
  }

  .stayIn-item, .headOut-item{
    padding: 10px;
    background-color: #0337f234;
    border-radius: 15px;
  }

  /* login page */

  .auth-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .auth-container >p {
    margin: 8px;
    text-decoration: underline;
    cursor: pointer;
  }
  

  .auth-container > form {
    padding: 20px;
    border: 1px solid black;;
    border-radius: 5px;
    background-color: #fa97d9;
    display: flex;
    flex-direction: column;
  }

  .auth-container > form > input{
    margin: 16px 8px;
    padding: 8px;
    border-radius:  4px;
    width: 200px;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  }

  .navbar >a{
    color:#fff;
    text-decoration: none;
    margin: 30px;
  }
  .navbar >a:hover{
    background-color: #d9abf4;
    padding: 8px;
    border-radius: 5px;
}





  