@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.form-container{
    border-radius: 4px;
    background: linear-gradient(106.7deg, rgb(245, 167, 191) -6.2%, rgb(201, 218, 238) 46.4%, rgb(164, 240, 229) 86.4%);
    padding: 15px;
    /* justify-content: center; */
}

.title{
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

input{
    width: 300px;
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    
}
textarea{
    width: 620px;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    
}
.btn{
    width: 625px;
    background-color: rgb(129, 129, 129);
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-shadow: 1px 3px rgba(10, 10, 10, 0.3);
}

.btn:hover{
    box-shadow: 14px 13px 20px rgba(0, 0, 0, 0.4);
    font-weight: 400;
    background-color: rgb(151, 151, 151) ;
}

.badge-container{
    width: 645px;
    background: transparent;
    border-radius: 4px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.badge{
    background-color: rgb(75, 75, 75);
    color: white;
    font-weight: 400;
    border-radius: 4px;
    padding: 10px;
}

 h5{
    width: 300px;
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 10px;
    /* border: 1px solid black; */
    border-radius: 4px;
    box-sizing: border-box;
    /* background-color: rgb(255, 255, 255); */
}

.textarea{
    border: 1px solid black;
    width: 620px;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    box-shadow: 14px 10px 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}