/*first container*/
div.container1 {
    border: 4px solid white;
    box-sizing: border-box;
    padding: 20px;
    background-color: #F5C6D6;
    max-width: 615px;
}

/*second container inline style*/
.container2 > div {
    display: inline-block;
    width: 500px;
}

.b1 {
    border: 2px solid white;
    box-sizing: border-box;
    background-color: #EE2E84;
    max-width: 150px;
    padding: 20px;
}

.b2 {
    border: 2px solid white;
    box-sizing: border-box;
    background-color: #EE2E84;
    max-width: 150px;
    padding: 20px;
}

.b3 {
    border: 2px solid white;
    box-sizing: border-box;
    background-color: #EE2E84;
    max-width: 150px;
    padding: 20px;
}

.b4 {
    border: 2px solid white;
    box-sizing: border-box;
    background-color: #EE2E84;
    max-width: 150px;
    padding: 20px;
}

/*third container*/
.container3 > div{
    display: inline-block;
    width: 500px;
}

.block3 {
    border: 2px solid white;
    box-sizing: border-box;
    background-color: #85CFD8;
    max-width: 304px;
    padding: 20px;
}

.Block3 {
    border: 2px solid white;
    box-sizing: border-box;
    background-color: #85CFD8;
    max-width: 304px;
    padding: 20px;
}

/*fourth container*/
.container4 > div {
    display: inline-block;
    width: 600px;
}

.block4 {
    border: 2px solid white;
    box-sizing: border-box;
    background-color: #8DC63F;
    max-width: 455px;
    padding: 20px;
}

.Block4 {
    border: 2px solid white;
    box-sizing: border-box;
    background-color:#E76E34;
    max-width: 153px;
    padding: 20px;
}
