footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #68ac96;
    padding: 20px;
    text-align: center;
    color: #fdc57b;
  }

  .apiLink {
    text-decoration: none;
    color: #fff;
  }

  .apiLink:hover{
    color: #fba535;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
  }