.nav-bar{
    padding: 5px;
    background-color: #68ac96;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #fdc57b;
}
.logo{
    height: 150px;
    width: auto;
}
.title{
   display: flex;
   align-items: center;
}

.title h1{
    margin: 0;
    font-size: 34px;
    color: #fdc57b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #050505;
    font-size: 20px;
    padding: 13px;
    transition: all 0.3s ease;
  }

  .link:hover{
    text-decoration: underline;
    color: #fdc57b;
    cursor: pointer;
  }

.nav-links ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.nav-links  ul li{
    margin: 0 1rem;
    text-decoration: none;
}
