*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background: rgb(255, 248, 248);
}


/* .gradient{
    box-sizing: border-box;
} */

.title{
    color: rgb(43, 17, 70);
    text-shadow: 0px 9px 5px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    padding-top: 20px; 
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem;
}

.form{
    border: 1px solid black;
    padding: 20px;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    gap: 20px;
}

.color-input{
    height: 50px;
    width: 130px;
    margin: 10 auto;
    margin-top: 10px;
    border:  rgb(43, 17, 70);
    background-color: transparent;
    cursor: pointer;
}

.angle-input{
    height: 35px;
    width: 100px;
    margin-top: 10px;
    border: 1px solid  rgb(43, 17, 70);
    border-radius: 4px;
    text-indent: 4px;
}

.gradient-box{
    margin-top: 69px;
    width: 90%;
    text-align: center;
}

.gradient-color{
    width: 80%;
    height: 150px;
    background-color: white;
    margin: 40px auto;
    border: 1px solid black;
    border-radius: 2px;
}

textarea{
    color: rgba(113, 113, 113, 0.932);
    width: 80%;
    background-color: white;
    padding-left: 5px;
    /* background: */
}
