body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav Bar style: */
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(153, 205, 50, 0.79);
  padding: 10px;
}

.navBar h2{
  margin: 0;
}

.link:hover  {
  color: white;
  background-color: #333;
  border-radius: 3px;
}

.link{
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(153, 205, 50, 0.79);
  padding: 20px;
  text-align: center;
}